/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body .cajaGral {
  background-color: #F9F9F9;
  width: 100%;
  height: auto; }

body .cajaGral main .cajaMain .eco, body .cajaGral main .cajaMain .mip, body .cajaGral main .cajaMain .tecno, body .cajaGral main .cajaMain .salud, .cajaGral main .cajaSyE .servicios, .cajaGral main .cajaSyE .espacios, .cajaGral main .cajaSyE .zonas {
  background-color: #CDF0EA;
  margin: 1rem;
  padding: 0.8rem;
  border: 3px solid #BEAEE2;
  border-radius: 1rem;
  text-align: center;
  font-family: "Trebuchet"; }

/* Estilo Index */
body .cajaGral header .cajaHeader {
  text-decoration: none;
  background-color: #CDF0EA;
  display: flex;
  justify-content: space-evenly; }
  body .cajaGral header .cajaHeader .logo {
    width: 12vh;
    height: 16vh; }
  body .cajaGral header .cajaHeader .titulo {
    margin: 0.5rem;
    color: #F9F9F9;
    font-size: 4rem;
    -webkit-text-stroke: 1px #BEAEE2;
    font-weight: 100px;
    font-family: 'Fredoka One', cursive;
    font-style: italic;
    text-align: center; }
  body .cajaGral header .cajaHeader .calidad {
    margin: 0.8rem;
    width: 12vh;
    height: 12vh;
    border-radius: 50px; }

body .cajaGral header .menu {
  background-color: #BEAEE2; }

body .cajaGral main .imagen {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem; }
  body .cajaGral main .imagen .img1 {
    width: 80%;
    height: auto;
    display: block; }

body .cajaGral main .botIma {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 16vh; }
  body .cajaGral main .botIma .botonInsta .b-i {
    width: 80%;
    height: 8vh;
    margin-top: 0.8rem; }
  body .cajaGral main .botIma .botonInsta :hover {
    transform: scale(1.1);
    transition: all .4s ease-in-out; }
  body .cajaGral main .botIma .comu {
    font-family: 'Gill Sans MT';
    font-size: 2rem;
    font-weight: 500;
    color: #BEAEE2;
    margin: 1rem;
    text-align: center; }
  body .cajaGral main .botIma .botonWsp .b-w {
    width: 80%;
    height: 8vh;
    margin-top: 0.8rem; }
  body .cajaGral main .botIma .botonWsp :hover {
    transform: scale(1.1);
    transition: all .4s ease-in-out; }

body .cajaGral main .cajaMain {
  display: grid;
  justify-content: center;
  grid-template-areas: "eco" "mip"  "tecno" "salud";
  margin-top: 25vh; }
  body .cajaGral main .cajaMain .eco {
    width: 45vh;
    height: 35vh;
    font-size: 1rem;
    grid-area: eco; }
    body .cajaGral main .cajaMain .eco .imgEco {
      width: 6vh; }
  body .cajaGral main .cajaMain .mip {
    width: 45vh;
    height: 35vh;
    font-size: 1rem;
    grid-area: mip; }
    body .cajaGral main .cajaMain .mip .imgMip {
      width: 6vh; }
  body .cajaGral main .cajaMain .tecno {
    width: 45vh;
    height: 35vh;
    font-size: 1rem;
    grid-area: tecno; }
    body .cajaGral main .cajaMain .tecno .imgTecno {
      width: 6vh; }
  body .cajaGral main .cajaMain .salud {
    width: 45vh;
    height: 35vh;
    font-size: 1rem;
    grid-area: salud; }
    body .cajaGral main .cajaMain .salud .imgEsc {
      width: 6vh; }

body .cajaGral footer .pie {
  background-color: #BEAEE2;
  margin: 0.4rem;
  color: #F9F9F9;
  text-align: center;
  padding: 0.3rem;
  font-size: 1rem;
  grid-area: footer; }

@media screen and (min-width: 600px) {
  body .cajaGral main .cajaMain {
    grid-template-areas: "eco mip" "tecno salud";
    margin-top: 5vh; }
    body .cajaGral main .cajaMain .eco {
      width: 42vh;
      height: 46vh;
      font-size: 1.2rem; }
    body .cajaGral main .cajaMain .mip {
      width: 42vh;
      height: 46vh;
      font-size: 1.2rem; }
    body .cajaGral main .cajaMain .tecno {
      width: 42vh;
      height: 46vh;
      font-size: 1.2rem; }
    body .cajaGral main .cajaMain .salud {
      width: 42vh;
      height: 46vh;
      font-size: 1.2rem; } }

@media screen and (min-width: 1020px) {
  body .cajaGral main .cajaMain {
    grid-template-areas: "eco mip tecno salud"; }
    body .cajaGral main .cajaMain .eco {
      width: 38vh;
      height: 56vh;
      grid-area: eco; }
    body .cajaGral main .cajaMain .mip {
      width: 38vh;
      height: 56vh;
      grid-area: mip; }
    body .cajaGral main .cajaMain .tecno {
      width: 38vh;
      height: 56vh;
      grid-area: tecno; }
    body .cajaGral main .cajaMain .salud {
      width: 38vh;
      height: 56vh;
      grid-area: salud; } }

/* ESTILO QUIENES SOMOS */
.qsSubtitulo {
  font-family: Haettenschweiler;
  text-transform: uppercase;
  color: cadetblue;
  text-align: center;
  margin: 10px; }

main .cajaQs {
  display: grid;
  justify-content: center;
  grid-template-areas: "qsP" "cajaImg" "descripcion";
  width: 100%;
  height: auto; }
  main .cajaQs .qsP {
    width: 95%;
    height: auto;
    border: 3px solid #BEAEE2;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    font-family: "Trebuchet";
    font-size: 1.2rem;
    background-color: #F7DBF0;
    grid-area: qsP; }
  main .cajaQs .cajaImg {
    width: 95%;
    height: auto;
    margin: 1rem;
    grid-area: cajaImg; }
    main .cajaQs .cajaImg .img2 {
      width: 95%;
      height: 90%; }
  main .cajaQs .descImg {
    font-family: 'Segoe UI';
    background-color: #F7DBF0;
    color: #467475;
    font-size: 1rem;
    grid-area: descripcion; }
  main .cajaQs .cajaImgParque {
    width: 95%;
    height: auto;
    display: none; }
    main .cajaQs .cajaImgParque .imgPq {
      width: 100%;
      height: 90%; }

@media screen and (min-width: 600px) {
  main .cajaQs .qsP {
    width: 600px;
    height: 145vh; } }

@media screen and (min-width: 1020px) {
  main .cajaQs {
    width: 100%;
    height: auto;
    margin: 0.5rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1,9fr 0,2fr 1,9fr;
    grid-template-areas: "qsP cajaImg" "qsP descripcion" "qsP imgParque"; }
  main .cajaQs .qsp {
    width: 50%;
    height: auto; }
  main .cajaQs .cajaImg {
    width: 85%;
    height: auto; }
  main .cajaQs .cajaImgParque {
    width: 85%;
    height: auto;
    margin: 0.5rem;
    display: block;
    grid-area: imgParque; } }

/* Estilos Servicios y Espacios*/
.cajaGral header .h2Serv {
  font-family: Haettenschweiler;
  text-align: center;
  font-size: 2rem;
  color: cadetblue;
  text-decoration: underline; }

.cajaGral main .cajaSyE {
  display: grid;
  justify-content: center;
  grid-template-rows: 1,3fr 1,3fr 0,4fr;
  grid-template-areas: "servicios" "espacios" "zonas"; }
  .cajaGral main .cajaSyE .servicios {
    width: 60vh;
    height: 70vh;
    font-size: 1.5rem;
    font-weight: 700;
    grid-area: servicios; }
    .cajaGral main .cajaSyE .servicios .h3SyE {
      font-size: 1.8rem;
      font-style: oblique; }
    .cajaGral main .cajaSyE .servicios .ulSyE {
      list-style-type: none; }
  .cajaGral main .cajaSyE .espacios {
    width: 60vh;
    height: 70vh;
    font-size: 1.5rem;
    font-weight: 700;
    grid-area: espacios; }
    .cajaGral main .cajaSyE .espacios .h3SyE {
      font-size: 1.8rem;
      font-style: oblique; }
    .cajaGral main .cajaSyE .espacios .ulSyE {
      list-style-type: none; }
  .cajaGral main .cajaSyE .zonas {
    width: 60vh;
    height: 30vh;
    grid-area: zonas; }
    .cajaGral main .cajaSyE .zonas .h4SyE {
      font-family: "Trebuchet";
      font-weight: 600;
      color: cadetblue; }

@media screen and (min-width: 600px) {
  .cajaGral main .cajaSyE {
    grid-template-rows: 1,7fr 0,3fr;
    grid-template-areas: "servicios espacios"  "zonas zonas"; }
    .cajaGral main .cajaSyE .zonas {
      width: 120vh;
      height: 20vh; } }

@media screen and (min-width: 1020px) {
  .cajaGral main .cajaSyE {
    grid-template-rows: 1,7fr 0,3fr;
    grid-template-areas: "servicios espacios"  "zonas zonas"; }
    .cajaGral main .cajaSyE .servicios {
      width: 75vh;
      height: 70vh; }
    .cajaGral main .cajaSyE .espacios {
      width: 75vh;
      height: 70vh; }
    .cajaGral main .cajaSyE .zonas {
      width: 160vh;
      height: 20vh; } }

/*Estilos Nuestros Trabajos*/
.h2nt {
  font-family: Haettenschweiler;
  font-size: 2.5rem;
  color: cadetblue;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0.5rem; }

.carrusel {
  padding: 1rem;
  margin: 1rem;
  width: 55%; }

.videos {
  margin-left: 3rem; }

/* Estilos contacto*/
.cajaContacto {
  margin: 1rem;
  padding: 1.4rem;
  background-color: #CDF0EA; }
  .cajaContacto legend {
    color: cadetblue;
    font-size: 2rem;
    font-family: "Trebuchet"; }
  .cajaContacto form {
    color: cadetblue;
    font-size: 22px; }
  .cajaContacto .nombre {
    margin: 15px; }
  .cajaContacto .tel {
    margin: 15px; }
  .cajaContacto .ubi {
    margin: 15px; }
  .cajaContacto .envRes {
    margin: 15px; }
    .cajaContacto .envRes :hover {
      transform: scale(1.1);
      transition: all .4s ease-in-out; }
    .cajaContacto .envRes .botonEnviar {
      padding: 5px;
      margin: 5px;
      color: cadetblue;
      font-weight: 500; }
    .cajaContacto .envRes .botonReset {
      padding: 5px;
      margin: 5px;
      color: cadetblue;
      font-weight: 500; }

.datos {
  margin: 1rem;
  padding: 1.4rem;
  background-color: #CDF0EA;
  font-family: "Trebuchet";
  font-size: 1.2rem;
  color: cadetblue;
  font-weight: 600; }
