/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body .cajaGral {
  background: #3ded3c;
  background: linear-gradient(0deg, #3ded3c 0%, #48d9ec 100%);
  width: 100%;
  height: auto; }

body .cajaGral main .cajaMain .eco, body .cajaGral main .cajaMain .mip, body .cajaGral main .cajaMain .tecno, body .cajaGral main .cajaMain .salud {
  background-color: #9aecc3;
  margin: 1rem;
  padding: 1rem;
  display: block;
  border: 3px solid #4a9b4a;
  border-radius: 1rem;
  text-align: center;
  font-family: "Trebuchet";
  font-size: 1.2rem; }

/* Estilo Index */
body .cajaGral header .cajaHeader {
  text-decoration: none;
  border: 2px solid black;
  display: flex;
  justify-content: center; }
  body .cajaGral header .cajaHeader .mascara {
    width: 6%; }
  body .cajaGral header .cajaHeader .titulo {
    margin: 0.5rem;
    color: #9aecc3;
    font-size: 4rem;
    -webkit-text-stroke: 0.1px whitesmoke;
    font-weight: 100px;
    font-family: 'Fredoka One', cursive;
    font-style: italic;
    text-align: center; }

body .cajaGral header .menu {
  padding: 0.2rem; }
  body .cajaGral header .menu .barra {
    display: flex;
    justify-content: space-evenly;
    margin: 0.3rem; }
    body .cajaGral header .menu .barra li {
      list-style-type: none;
      margin: 0.5rem;
      padding: 0.5rem;
      font-family: "Trebuchet";
      font-size: 1.2rem;
      font-weight: 400; }
      body .cajaGral header .menu .barra li a {
        color: #4f4392;
        text-decoration: none;
        transform: scale(1.1); }
      body .cajaGral header .menu .barra li :hover {
        border: 2px solid #9aecc3;
        transition: all .4s ease-in-out; }

body .cajaGral main .imagen {
  width: 100%;
  display: flex;
  justify-content: center; }
  body .cajaGral main .imagen .img1 {
    height: 50vh;
    display: block; }

body .cajaGral main .cajaMain {
  display: grid;
  justify-content: center; }
  body .cajaGral main .cajaMain .eco {
    width: 60vh;
    height: 30vh; }
    body .cajaGral main .cajaMain .eco .imgEco {
      width: 6vh; }
  body .cajaGral main .cajaMain .mip {
    width: 60vh;
    height: 30vh; }
    body .cajaGral main .cajaMain .mip .imgMip {
      width: 6vh; }
  body .cajaGral main .cajaMain .tecno {
    width: 60vh;
    height: 30vh; }
    body .cajaGral main .cajaMain .tecno .imgTecno {
      width: 6vh; }
  body .cajaGral main .cajaMain .salud {
    width: 60vh;
    height: 30vh; }
    body .cajaGral main .cajaMain .salud .imgEsc {
      width: 6vh; }

body .cajaGral footer .pie {
  margin: 0.4rem;
  color: #4f4392;
  text-align: center;
  padding: 0.3rem;
  font-size: 1rem;
  grid-area: footer; }

@media screen and (min-width: 600px) {
  .cajaMain {
    grid-template-areas: "eco mip" "tecno salud"; }
    .cajaMain .eco {
      width: 45vh;
      height: 40vh;
      grid-area: eco; }
    .cajaMain .mip {
      width: 45vh;
      height: 40vh;
      grid-area: mip; }
    .cajaMain .tecno {
      width: 45vh;
      height: 40vh;
      grid-area: tecno; }
    .cajaMain .salud {
      width: 45vh;
      height: 40vh;
      grid-area: salud; } }

@media screen and (min-width: 1020px) {
  .cajaMain {
    grid-template-areas: "eco mip tecno salud"; }
    .cajaMain .eco {
      width: 38vh;
      height: 50vh;
      grid-area: eco; }
    .cajaMain .mip {
      width: 38vh;
      height: 50vh;
      grid-area: mip; }
    .cajaMain .tecno {
      width: 38vh;
      height: 50vh;
      grid-area: tecno; }
    .cajaMain .salud {
      width: 38vh;
      height: 50vh;
      grid-area: salud; } }
